<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
     <title>Filtros empleados</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body class="container mt-5">
    <div class="alert alert-info display-4 text-center">Empleados Transporte Shipping Clerk</div>
     
    {% if empleados %}
    <table class="table">
        <thead>
            <tr>
                <td>Cantidad de empleados con id 50: {{deptoId50}}</td>
            </tr>
            <tr>
                <td>Cantidad de empleados cargo SH_CLERK: {{empleados50ShTotal}}</td>
            </tr>
            <tr>
                <th>Nombre empleado</th>
                <th>Departamento</th>
                <th>Cargo</th>
                
            </tr>
        </thead>
        <tbody>
            {% for emp in empleados50Sh %}
            <tr>
                <td>{{ emp.nombre }} 
                    {{ emp.apellidoPaterno }} 
                    {{ emp.apellidoMaterno }}
                </td>
                <td>{{emp.departamentoId}}</td>
                <td>{{emp.cargoId}}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-info">No se encuentran empleados en el Sistema</div>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>